@charset "UTF-8";
/*
0-600px     phone
600-900px   portrait taplets
900-1200px  landscape taplets
1200-1800px our normal range
+ 1800px    Big Desktop
*/
/*
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@-webkit-keyframes logoshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  20% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg); }
  40% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }
  60% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg); }
  80% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@keyframes logoshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  20% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg); }
  40% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }
  60% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg); }
  80% {
    -webkit-transform: rotate(12deg);
            transform: rotate(12deg); }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }

@-webkit-keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: tra nslateX(-10rem);
            transform: tra nslateX(-10rem); }
  30% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg); }
  60% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  80% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveinleft {
  0% {
    opacity: 0;
    -webkit-transform: tra nslateX(-10rem);
            transform: tra nslateX(-10rem); }
  30% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg); }
  60% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  80% {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveinright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  30% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); }
  60% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  80% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  30% {
    -webkit-transform: rotate(-120deg);
            transform: rotate(-120deg); }
  60% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  80% {
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes moveinbutton {
  0% {
    opacity: 0;
    -webkit-transform: translatey(15rem);
            transform: translatey(15rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes moveinbutton {
  0% {
    opacity: 0;
    -webkit-transform: translatey(15rem);
            transform: translatey(15rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4000px; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::-moz-selection {
  color: yellow;
  background-color: #55c57a; }

::selection {
  color: yellow;
  background-color: #55c57a; }

/*section, footer{
    @include respond(tab-land){
        padding: 0 1rem;
    }
}*/
.secondary-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background: -webkit-linear-gradient(left, #7ed56f, #28b485);
  background: -o-linear-gradient(left, #7ed56f, #28b485);
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  letter-spacing: .2rem; }
  @media only screen and (max-width: 56.25em) {
    .secondary-heading {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .secondary-heading {
      font-size: 2.5rem; } }
  .secondary-heading:hover {
    -webkit-transform: skew(15deg, 2deg) scale(1.1);
        -ms-transform: skew(15deg, 2deg) scale(1.1);
            transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.tertiary-heading {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  color: #777; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.margin-bottom-big {
  margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-big {
      margin-bottom: 5rem !important; } }

.margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.margin-bottom-small {
  margin-bottom: 1.5rem; }

.margin-top-big {
  margin-top: 8rem; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: none;
  border-radius: 10rem;
  -webkit-transition: all  .3999s;
  -o-transition: all  .3999s;
  transition: all  .3999s;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  font-size: 1.6rem; }
  .btn--animated {
    /*animation: name duration timing-function delay*/
    -webkit-animation: moveinbutton 1s ease-in-out .7s;
            animation: moveinbutton 1s ease-in-out .7s;
    /*it is taking the 0% before the animation started as i need it to be like that because i am giving it a delay*/
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards; }
  .btn:hover {
    -webkit-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    /*box-shadow:x y blur color*/
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-transform: translateY(-0.1rem);
        -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #55c57a;
    color: #fff; }
    .btn--green::after {
      background-color: #55c57a; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.btn-text {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px); }
  .btn-text:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translatey(0);
        -ms-transform: translatey(0);
            transform: translatey(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    outline-offset: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333%;
        -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
                box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 3rem;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          -webkit-transform: scale(1.3);
              -ms-transform: scale(1.3);
                  transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: -3rem;
          left: 0;
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); } }
    .composition__photo:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
              box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20;
      outline: 1.5rem solid #55c57a; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo:hover {
          -webkit-transform: scale(1.3);
              -ms-transform: scale(1.3);
                  transform: scale(1.3);
          outline: none;
          z-index: 101; } }
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.89);
        -ms-transform: scale(0.89);
            transform: scale(0.89); }
    @media only screen and (max-width: 56.25em) {
      .composition:hover .composition__photo:not(:hover) {
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
                transform: scale(1.1); } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 5rem;
    background: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
    background: -webkit-linear-gradient(left, #7ed56f, #28b485);
    background: -o-linear-gradient(left, #7ed56f, #28b485);
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    -webkit-transform: translateY(-1.5rem) scale(1.09);
        -ms-transform: translateY(-1.5rem) scale(1.09);
            transform: translateY(-1.5rem) scale(1.09); }

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 7px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
      z-index: -1; }
      .card__side--back-1 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: -webkit-linear-gradient(top left, #ffb900, #ff7730);
        background-image: -o-linear-gradient(top left, #ffb900, #ff7730);
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
        background-image: -webkit-linear-gradient(top left, #7ed56f, #28b485);
        background-image: -o-linear-gradient(top left, #7ed56f, #28b485);
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
        background-image: -webkit-linear-gradient(top left, #2998ff, #5643fa);
        background-image: -o-linear-gradient(top left, #2998ff, #5643fa);
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 23rem; }
    .card__picture--1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
      background-image: -webkit-linear-gradient(top left, #ffb900, #ff7730), url(../img/nat-5.jpg);
      background-image: -o-linear-gradient(top left, #ffb900, #ff7730), url(../img/nat-5.jpg);
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
      background-image: -webkit-linear-gradient(top left, #7ed56f, #28b485), url(../img/nat-6.jpg);
      background-image: -o-linear-gradient(top left, #7ed56f, #28b485), url(../img/nat-6.jpg);
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
      background-image: -webkit-linear-gradient(top left, #2998ff, #5643fa), url(../img/nat-7.jpg);
      background-image: -o-linear-gradient(top left, #2998ff, #5643fa), url(../img/nat-7.jpg);
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 16rem;
    right: 2rem;
    width: 53%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8)));
      background-image: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
      background-image: -o-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8)));
      background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
      background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.8)), to(rgba(86, 67, 250, 0.8)));
      background-image: -webkit-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
      background-image: -o-linear-gradient(left top, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem;
    color: #777; }
    .card__details ul {
      list-style: none;
      width: 80%;
      font-size: 1.5rem;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (hover: none) {
    .card {
      height: auto;
      background-color: #fff;
      border-radius: 7px;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
              box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        -webkit-box-shadow: none;
                box-shadow: none; }
        .card__side--back {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        -webkit-transform: rotateY(0);
                transform: rotateY(0); }
      .card__details {
        padding: 1 3rem; }
      .card__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        position: relative;
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0);
        top: 0;
        padding: 7rem 4rem 4rem;
        left: 0; }
      .card__price-box {
        color: #fff;
        margin-bottom: 3rem; }
      .card__price-only {
        font-size: 1.4rem;
        text-transform: uppercase; }
      .card__price-value {
        font-size: 4rem; } }

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.777);
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 6rem;
  padding-left: 9rem;
  -webkit-transform: skewX(-12deg);
      -ms-transform: skewX(-12deg);
          transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      -webkit-transform: skew(0);
          -ms-transform: skew(0);
              transform: skew(0); } }
  .story > * {
    -webkit-transform: skewX(12deg);
        -ms-transform: skewX(12deg);
            transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    -webkit-transform: translateX(-3rem) skewX(12deg);
        -ms-transform: translateX(-3rem) skewX(12deg);
            transform: translateX(-3rem) skewX(12deg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 50%; }
    @media only screen and (max-width: 37.5em) {
      .story__shape {
        -webkit-transform: translateX(-3rem) skew(0);
            -ms-transform: translateX(-3rem) skew(0);
                transform: translateX(-3rem) skew(0); } }
  .story__img {
    height: 100%;
    -webkit-transform: translatex(-4rem) scale(1.4);
        -ms-transform: translatex(-4rem) scale(1.4);
            transform: translatex(-4rem) scale(1.4);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .story__caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    width: 6rem;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
  .story:hover .story__caption {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    -webkit-transform: translatex(-4rem) scale(1);
        -ms-transform: translatex(-4rem) scale(1);
            transform: translatex(-4rem) scale(1);
    -webkit-filter: blur(4px) brightness(70%);
            filter: blur(4px) brightness(70%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1223;
  opacity: .3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.form__group {
  position: relative; }
  .form__group:not(:last-child) {
    margin-bottom: 2.5rem; }
  .form__group:last-child {
    margin-top: 4rem; }

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid transparent;
  width: 85%;
  color: inherit;
  display: block;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 2px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: absolute;
  top: -3.1rem;
  left: 0; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(3.5rem);
      -ms-transform: translateY(3.5rem);
          transform: translateY(3.5rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      display: block;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.6rem; }
  .form__radio-button::after {
    content: "";
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden; }
  @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) or (-moz-backdrop-filter: blur(10px)) {
    .popup {
      -moz-backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.2); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  .popup__close {
    position: absolute;
    top: 2.5rem;
    color: #999;
    right: 2.5rem;
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: 1; }
    .popup__close:hover {
      color: #55c57a; }
  .popup__content {
    width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%) scale(0.4);
        -ms-transform: translate(-50%, -50%) scale(0.4);
            transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .popup__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 85%; } }
  .popup__left {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .popup__left {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: 50%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .popup__right {
    padding: 2rem 3rem;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: middle; }
    .popup__right a:last-of-type {
      -ms-flex-item-align: start;
          align-self: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .popup__right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 50%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
  .popup__img {
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media only screen and (max-width: 56.25em) {
      .popup__img {
        width: 50%;
        height: 100%; } }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 2px solid #eee;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-column-rule: 2px solid #eee;
            column-rule: 2px solid #eee;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    float: left;
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2*((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - (3 * 6rem)) / 4) + 2*(6rem)); }

.header {
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero-small.jpg);
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  background-blend-mode: color-burn;
  /**
                            الكليب باث بوليجون عباره عن انك بتعمل اماكن لنقط القطع 
                            بتكون نقط يعنى والبتاع بيقطع من عندها 
                            **/ }
  @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.8)), to(rgba(255, 119, 48, 0.8))), url(../img/hero.jpg);
      background-image: -webkit-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg);
      background-image: -o-linear-gradient(left top, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg);
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url(../img/hero.jpg); } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header__logo-box .header__logo {
      display: inline-block; }
      .header__logo-box .header__logo:hover {
        -webkit-animation: logoshake .3s ease-in-out infinite;
                animation: logoshake .3s ease-in-out infinite; }
      .header__logo-box .header__logo-img {
        height: 3.5rem; }
  .header__text-box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .header__text-box .primary-heading {
      color: #fff;
      text-transform: uppercase;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      margin-bottom: 6rem; }
      .header__text-box .primary-heading--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        -webkit-animation-name: moveinleft;
                animation-name: moveinleft;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-duration: 1.3s;
                animation-duration: 1.3s; }
        @media only screen and (max-width: 37.5em) {
          .header__text-box .primary-heading--main {
            font-size: 4.5rem;
            letter-spacing: 1rem; } }
      .header__text-box .primary-heading--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700px;
        letter-spacing: 1.75rem;
        -webkit-animation: moveinright 1.3s ease-in-out;
                animation: moveinright 1.3s ease-in-out; }
        @media only screen and (max-width: 37.5em) {
          .header__text-box .primary-heading--sub {
            letter-spacing: .5rem; } }

.footer {
  background-color: #333;
  padding: 10rem 1rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 8rem 1rem; } }
  .footer__logo-box {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto;
    -webkit-transition: all;
    -o-transition: all;
    transition: all; }
    .footer__logo:hover {
      -webkit-animation: logoshake .5s ease-in-out infinite;
              animation: logoshake .5s ease-in-out infinite;
      -webkit-animation-fill-mode: backwards;
              animation-fill-mode: backwards; }
  .footer__navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .footer__link:hover, .footer__link:active {
      color: #55c57a;
      -webkit-box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.4);
              box-shadow: 0 0.8rem 1.8rem rgba(0, 0, 0, 0.4);
      -webkit-transform: rotate(5deg) scale(1.2);
          -ms-transform: rotate(5deg) scale(1.2);
              transform: rotate(5deg) scale(1.2); }
  .footer__copyright {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    float: right;
    color: #f7f7f7; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2201;
  -webkit-box-shadow: 0 0 9rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 9rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: -webkit-radial-gradient(#7ed56f, #28b485);
  background-image: -o-radial-gradient(#7ed56f, #28b485);
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  -webkit-transition: all 0.6s cubic-bezier(0.87, 0.06, 1, 0.81);
  -o-transition: all 0.6s cubic-bezier(0.87, 0.06, 1, 0.81);
  transition: all 0.6s cubic-bezier(0.87, 0.06, 1, 0.81); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.6s cubic-bezier(1, -0.41, 0.29, 1.95);
  -o-transition: all 0.6s cubic-bezier(1, -0.41, 0.29, 1.95);
  transition: all 0.6s cubic-bezier(1, -0.41, 0.29, 1.95); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: -webkit-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
  background: -o-linear-gradient(330deg, transparent 0%, transparent 50%, #fff 50%);
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    -webkit-transform: translateX(1rem);
        -ms-transform: translateX(1rem);
            transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(100);
      -ms-transform: scale(100);
          transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::after, .navigation__icon::before {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .navigation__icon::before {
    top: -.7rem; }
  .navigation__icon::after {
    top: .7rem; }

.navigation__checkbox:not(:checked) + .navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__checkbox:not(:checked) + .navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  -webkit-transform: rotate(50deg) translate(0rem, 0.5rem);
      -ms-transform: rotate(50deg) translate(0rem, 0.5rem);
          transform: rotate(50deg) translate(0rem, 0.5rem);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  -webkit-transform: rotate(-50deg) translate(0.1rem, -0.7rem);
      -ms-transform: rotate(-50deg) translate(0.1rem, -0.7rem);
          transform: rotate(-50deg) translate(0.1rem, -0.7rem);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right; }

.about {
  background-color: #f7f7f7;
  padding: 25rem 1rem;
  margin-top: -20vh; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 20rem 0; } }

.features {
  padding: 20rem 1rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-4.jpg);
  background-image: -webkit-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-image: -o-linear-gradient(left top, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  -webkit-transform: skewY(-6deg);
      -ms-transform: skewY(-6deg);
          transform: skewY(-6deg);
  margin: -9rem 0; }
  .features > * {
    -webkit-transform: skewY(6deg);
        -ms-transform: skewY(6deg);
            transform: skewY(6deg); }
  @media only screen and (max-width: 56.25em) {
    .features {
      padding: 10rem 0; } }

.tours {
  background-color: #f7f7f7;
  padding: 25rem 1rem 15rem;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .tours {
      padding: 20rem 0 10rem; } }

.stories {
  position: relative;
  padding: 15rem 1rem; }
  @media only screen and (max-width: 56.25em) {
    .stories {
      padding: 10rem 0; } }

.booking {
  padding: 15rem 1rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: -webkit-linear-gradient(left top, #7ed56f, #28b485);
  background-image: -o-linear-gradient(left top, #7ed56f, #28b485);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .booking .book {
    background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7); }
    @media only screen and (max-width: 75em) {
      .booking .book {
        background-image: -webkit-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
        background-image: -o-linear-gradient(345deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg);
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/nat-10.jpg); } }
    @media only screen and (max-width: 56.25em) {
      .booking .book {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/nat-10.jpg);
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/nat-10.jpg); } }
    .booking .book__form {
      width: 50%;
      padding: 6rem; }
      @media only screen and (max-width: 75em) {
        .booking .book__form {
          width: 65%; } }
      @media only screen and (max-width: 56.25em) {
        .booking .book__form {
          width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .booking {
      padding: 10rem 0; } }
@media only screen and (max-width: 900px){
.form__radio-group{
  width:100%;
  }
}

